body {
  box-sizing: border-box;
  font-family: Mija, Arial, Helvetica, sans-serif;
  color: #fff;
}

.nav-bar {
  display: grid;
  align-items: center;
  font-family: Mija, Arial, Helvetica, sans-serif;
  grid-template-columns: min-content minmax(140px, 2fr) minmax(100px, 350px);
  width: 100%;
  height: 110px;
}

.logo {
  height: 80px;
  padding: 22px 0px 0px 15px;
}

.main-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  list-style: none;
  text-decoration: none;
}

.main-nav ul a {
  text-decoration: none;
  color: #fff;
}

.main-nav ul a:hover {
  text-decoration: underline;
}

.featured-articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.featured-articles-items {
  border: 1px solid black;
  height: 932px;
  padding: 250px 50px 0px 50px;
}
.featured-articles-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.featured-articles-items img {
  width: 75px;
  border-radius: 5px;
}

.featured-articles-items span {
  font-size: 20px;
  padding-left: 10px;
}

.featured-articles-items h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

.grid-article-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-article-item {
  border: 1px solid black;
  padding: 30px 40px 0 40px;
  min-height: 395px;
  max-height: 100%;
}

.grid-article-item h3 {
  font-size: 2em;
}

.grid-article-publicity {
  background: url("../img/grid-article-publicity.jpg") no-repeat;
  background-size: cover;
  grid-column: span 2;
  border: 1px solid black;
  height: 645px;
  padding: 0px 22px 50px 22px;
}

.link-to-latest {
  grid-column: 1 / 5;
  grid-row: 4;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outside-link {
  width: 230px;
  height: 50px;
}

.item-publicity-big {
  background: url("../img/item-publicity-big.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.grid-community-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-community-links-potw {
  grid-column: 1 / 3;
  height: 345px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.potw-picture {
  flex-basis: 285px;
  height: 285px;
}

.potw-info {
  flex-basis: 85%;
  padding-left: 40px;
}

.potw-info h4 {
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Elena, Arial, Helvetica, sans-serif;
}

.potw-info p {
  font-size: 15px;
  line-height: 2em;
}

.grid-community-links-items {
  grid-column: span 1;
  border: 1px solid black;
  height: 430px;
}

.link-to-twitter {
  grid-column: 1 / 3;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-container {
  display: flex;
  flex-direction: column;
}

.item-publicity-small {
  width: 100%;
  display: flex;
  padding: 5%;
  height: 410px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.item-publicity-small h4{
  font-size: 17px;
  font-family: Elena, Arial, Helvetica, sans-serif;
}

.item-publicity-small h2{
  font-size: 47px;
}

.item-publicity-small p{
  font-size: 22px;
  font-family: Elena, Arial, Helvetica, sans-serif;
}

.item-publicity-small input{}

.curated-posts-container {
  display: flex;
}

.curated-posts-articles {
  width: 25%;
  height: 800px;
  border: 1px solid black;
}

.smashing-newsletter {
  height: 990px;
  border: 1px solid black;
}

.see-all-articles {
  padding: 22px 0px 110px 0px;
  height: 53px;
  border: 1px solid black;
}

.main-footer {
  display: flex;
  height: 690px;
}

.color-5 {
  background-color: #212121;
}
.color-4 {
  background-color: #424242;
}
.color-3 {
  background-color: #616161;
}
.color-2 {
  background-color: #757575;
}
.color-1 {
  background-color: #9e9e9e;
}

.main-container {
  position: relative;
}

.features-article-heading {
  position: absolute;
  margin-left: 50%;
  margin-top: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

.features-article-heading span {
  color: #fff;
  font-family: Mija, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
  line-height: 50px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.nav-input {
  font-family: "Font Awesome 5 Free", Mija, Arial, Helvetica, sans-serif;
  height: 35px;
  border-radius: 5px;
}

.nav-search{
    padding-left: 30%;
}

.article-links {
  width: 100%;
  height: 130px;
}


.grid-community-links-items{
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  padding-top: 15%;
  box-sizing: border-box;
}

.community-link-picture{
  flex-basis: 76px;
  height: 76px;
  border-radius: 5px;
  margin-right: 25px;
}

.community-link-text{
  flex-basis: 85%;
}

.community-link-text h4{
  font-size: 21px;
}
.community-link-text h2{
  font-size: 35px;
}
.community-link-text p{
  font-size: 20px;
  font-family: Elena, Arial, Helvetica, sans-serif;
  margin-top: 15px;
}

.publicity-link-picture{
  flex-basis: 35%;
  height: 300px;
  border-radius: 5px;
  margin-right: 25px;
}

.publicity-link-text{
  flex-basis: 65%;
}