
.nav-bar {
    display: flex;
    background-color: grey;
    width: 100%;
    height: 100px;
}

.featured-articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.featured-articles-items {
    background-color: grey;
    border: 1px solid black;
    height: 700px;
}